@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,500&display=swap');
@media only screen and (max-width: 480px) {
  .boxes {
    flex-direction: column;
  }
  .fun{
    margin-top: 5px;
    height: 10rem;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
bodY {
  background-color: black;
}
.main {
  background-image: url(assets/background.jpg);
  background-size: max(1400px, 100vw);
  /* background-size: 2000px; */
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  background-position: center center;
}
.main .box {
  height: 100vh;
  width: 100%;
  opacity: 0.8;
  /* background-color: black; */
  background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(19, 1, 1));
  position: absolute;
  top: 0px;
}
nav {
  max-width: 90vw;
  margin: 0px auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  /* height: 62px; */
  height: 4em;
}
nav img {
  width: 150px;
  position: relative;
  z-index: 3;
}
nav button {
  position: relative;
  z-index: 3;
  top: -0.7rem;
}
#redbtn {
  background-color: red;
  color: white;
  padding: 4px 9px;
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid transparent;
}
#redbtn:hover{
  background-color: rgb(165, 13, 13);
}
#transparent {
  padding: 4px 11px;
  font-weight: 300;
  border-radius: 4px;
  background-color: rgba(15, 15, 15, 0.801);
  color: white;
  border: 1px solid rgb(122, 120, 120);
  margin-right:3px ;
}
.hero {
  /* background-color: red; */
  width: 78vw;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  position: relative;
  font-family: "Martel Sans", sans-serif;
  /* padding: 0 30px; */
  /* text-align: center; */
}
@media  only screen  and (min-width: 782px) {
    .submit{
      margin-top:5px
    }
  
}
.hero span {
  padding: 8px 0;
}
#first {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}
#second {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 1.6rem;
  text-align: center;
}
#third {
  color: rgb(255 255 255 / 70%);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
#input {
  background-color: rgba(15, 15, 15, 0.801);
  margin-top: 1rem;
  padding: 1rem 1rem 1rem;
  width: 23rem;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.253);
  border-radius: 4px;
  font-size: 1rem;
  color: white;
  /* min-height: 15px; */
}
.submit {
  background-color: rgb(206, 12, 12);
  font-size: 1.3rem;
  padding: 0.7rem 2.6rem 0.9rem;
  color: white;
  border: 0px;
  border-radius: 4px;
  margin: 6px 4px;
  font-weight: 700;
  position: relative;
}
.submit img {
  /* background-color: white; */
  position: absolute;
  top: 25%;
  left: 83%;
}
.submit:hover{
  background-color: rgb(165, 13, 13);
}

.line {
  /* background-color: white; */
  height: 2rem;
  border-top: 3px solid rgb(195 32 84);
  /* border: solid 0.25rem rgb(0 0 0 / 0%); */
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom: 0;
  background: radial-gradient(
      50% 500% at 50% -420%,
      rgb(64 97 231 / 40%) 80%,
      rgb(0 0 0 / 10%) 100%
    ),
    rgb(0 0 0);
  position: relative;
  top: -2rem;
}
.content {
  background-color: rgb(41 13 39);
  color: white;
  width: 78vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 23px 40px;
  border-radius: 10px;
  box-sizing: border-box;
}
#one {
  font-weight: 700;
  padding: 10px 0;
  font-size: 2rem;
}
#two {
  color: rgb(255 255 255 / 70%);
}
.grid {
  /* background-color: rgb(76, 0, 255); */
  width: 78vw;
  margin: 4rem auto;
  color: white;
}
.grid h3 {
  padding-bottom: 1rem;
}
.boxes {
  display: flex;
  /* flex-wrap: wrap; */
}


.fun {
  padding: 2rem 1.5rem 8rem 1.5rem;
  /* border: 2px solid red; */
  box-sizing: border-box;
  width: 16rem;
  height: 24rem;
  box-sizing: border-box;
  background: linear-gradient(to bottom right, rgb(25 33 69), rgb(33 15 25));
}
.fun h3 {
  font-weight: 800;
  font-size: 1.4rem;
}
.fun p {
  color: rgb(255 255 255 / 70%);
  font-size: 0.9rem;
}
#block_1,
#block_2,
#block_3,
#block_4 {
  margin-right: 1rem;
  border-radius: 10px;
  /* position: relative; */
  box-sizing: border-box;
}
#block_1 img {
  position: relative;
  bottom: 0;
  /* right: 0; */
}
.faq h2{
  font-size: 24px;
  font-weight: 700;
}
.faq{
  color: white;
  width: 70vw;
  /* flex-direction: column; */
  margin: 0px 8.7rem;
 /* background-color: yellow; */
 font-size: 27px;
}
.faqbox{
  background-color: rgb(45, 45, 45);
  margin-top: 1rem;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.faqbox:hover{
  background-color: rgb(65, 65, 65);
}
.last{
  margin-top: 2rem;
}
.last #input{
  width: 50rem;
}
footer{
  color: white;
  margin:5rem  auto;
  width: 70vw;

}
footer h4{
  margin-bottom: 2rem;
  font-weight: lighter;
}
footer h4 span{
  text-decoration: underline;
  cursor: pointer;
}
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem 6rem;
  text-decoration: underline;
  cursor: pointer;
  font-weight: lighter;
}
@media screen and (max-width: 480px) {
  .footer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem 6rem;
    text-decoration: underline;
    cursor: pointer;
    font-weight: lighter;
  }
  
}